.features {
  background: $light-bg;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  color: $main-grey;
  @media screen and (min-width: 569px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
  }
}


.feature {
  max-width: 275px;
  text-align: center;
  padding: 25px 0;
}

.feature__image {
  height: 60px;
}

.feature__name {
  font-size: 18px;
  font-weight: 900;
  margin: 20px 0 10px;
}