.footer {
  background: $footer-grey;
  text-align: center;
  color: #bebebe;
  font-size: 14px;
}

.footer__wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}