// Colors
$main-red: #ff6760;
$dark-grey: #262626;
$light-grey: #2a2a2a;
$text-grey: #d9d9d9;
$main-grey: #616161;
$light-bg: #f8f8f8;
$button-grey: #595959;
$background-grey: #313131;
$footer-grey: #2c2c2c;

* {
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
}
// CLasses
.container {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 569px) {
    width: 80%;
  }
}